root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4

[{*.js,*.jsx}]
ij_javascript_use_double_quotes = false
ij_javascript_spaces_within_imports = true
ij_javascript_import_merge_members = true
